<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.75" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.75" rpy="0 0 0"/>
            <geometry>
                <box size="1.4996063143233769 0.9938598733465711 1.2251372204141089" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.75" rpy="0 0 0"/>
            <geometry>
                <box size="1.4996063143233769 0.9938598733465711 1.2251372204141089" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 1.3625686102070544" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0 0 1.3194461557151587" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.3194461557151587" rpy="0 0 0"/>
            <geometry>
                <box size="0.8028942091430502 1.3616909164957258 2.6388923114303173" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.3194461557151587" rpy="0 0 0"/>
            <geometry>
                <box size="0.8028942091430502 1.3616909164957258 2.6388923114303173" />
            </geometry>
        </collision>
    </link>
</robot>